/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 1400px) {
  .side-bar .side-bar-ul-container{
    margin-top: 20%;
  }
  .side-bar.active .side-bar-ul-container{
    margin-top: 0%;
  }
  
}
@media screen and (max-width: 1200px) {
  .side-bar .side-bar-ul-container{
    margin-top: 90%;
  }
  .side-bar.active .side-bar-ul-container{
    margin-top: 0%;
  }
  

}
@media screen and (max-width: 801px) {
  

  .side-bar .side-bar-ul-container > ul {
    margin-top: 80%;
    gap: 2rem;
  }
  .side-bar.active .side-bar-ul-container > ul {
      margin-top: 0%;
  }
  :root {
    --width-side-bar: 12vw;
    --width-side-active: 15vw;
  }
  
  
}

@media screen and (max-width: 700px) {
  .side-bar .side-bar-ul-container {
    /* margin-top: 250%; */
  }
  .side-bar .side-bar-ul-container > ul {
    /* margin-top: 250%; */
  }
  .side-bar.active .side-bar-ul-container > ul {
    /* margin-top: 50%; */
  }
  :root {
    /* --width-side-bar: 12vw;
    --width-side-active: 15vw; */
  }
  .side-bar a:hover ~ .tooltip,
  .side-bar a:active ~ .tooltip,
  .side-bar a:focus ~ .tooltip {
    display: inline-flex;
    color: lightslategray;
    transform: translate(102%, -100%);
  }
  :root{
    --width-side-active: 20vw;
  }
}
@media screen and (max-width: 420px) {
  .side-bar .side-bar-ul-container {
    /* margin-top: 2% !important; */

    /* border: 2px solid magenta; */

    margin: 0;
  }
  .side-bar .side-bar-ul-container > ul li > ul{
    /* border: 2px solid orange; */
    font-size: 90%;
    line-height: 0;
    margin: 0;
  }    
  .side-bar .side-bar-ul-container > ul li > ul li{
    line-height: 1;
    font-size: 90%;
    margin: 0;

  }
  :root{
    /* --width-main-content: 90vw; */
    /* --width-side-bar: 15vw; */
  }
  .main-landing-page {
    margin-left: 1%;
  }
}