.page-wrapper {
    /* position: relative; */
}
.page-wrapper > .main-content {
  position: fixed;
  right: 0;
}
h1 {
    text-align: end;
    margin:1% 0;
    margin-right: 5%;
}
main > .main-content > header {
    left: 0;
    top: 0;
}
.page-container{
    margin: 0 2.5%;
}
.content-container {
    margin: 0 2.5%;
}

.items-container {
    margin-top: 2.5%;
}
.items-container > .item {
    margin: 0 2.5%;
}
.page-wrapper > .main-content {
  position: fixed;
  right: 0;
}
.side-bar.hide + .main-content{
    width: 100% - var(--width-main-content-hide);
}
.side-bar.hide + .main-content{
    width: 100vw
}